<h1>Pages#contact</h1>
<p><%= number_to_phone "7224320476" %></p>
<p><%= number_to_currency "3213" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "4542543534534534" %></p>
